<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnection" value="YOURS STORAGE CONNECTION STRING HERE" />
    <add key="BlobContainerName" value="YOURS BLOB CONTAINER NAME HERE" />
    <add key="DatabaseName" value="YOURS DATABSE NAME HERE" />
    <add key="ExportSqlConnectionString" value="YOURS SQL CONNECTION STRING HERE" />

    <add key="BackupCronExpression" value="0 50 23 * * ?" />
    <add key="BackupTriggerName" value="Backup Trigger" />
  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>